version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-networks
  api:
    build: .
    container_name: api_cliente
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb://mongodb:27017/Ecommerce
    # CMD para iniciar a aplicação com nodemon (isso pressupõe que você tenha um script "dev" no package.json)
    command: npm run dev 
    develop:
      watch:
        # Sincroniza o diretório local ./app para /app/ no container
        - action: sync
          path: ./app
          target: /app/
          ignore:
            - node_modules
        # Reconstrói a imagem se o package.json mudar (para novas dependências)
        - action: rebuild
          path: package.json
    depends_on:
      - mongodb
    volumes:
      # Mantido para compatibilidade e mapeamento completo, embora 'develop: watch' gerencie a sincronia principal
      - .:/app
      # Volume anônimo para evitar conflitos de node_modules entre host e container
      - /app/node_modules
    networks:
      - app-networks
volumes:
  mongodb_data:

networks:
  app-networks:
    driver: bridge